<h1>Order#new</h1>
<p>Find me in app/views/order/new.html.erb</p>
<% if !@orders.blank? %>
  <% for item in @orders %>

  <h1><%=item.user.email%></h1>

    
  <% end %>
<% else %>
<h1> No list</h1>
<%end%>