<div class=" p-2  w-full bg-blue-300 grid justify-items-center">
    <div>
        <table class="table-auto">
            <thead>
                <tr class="text-align-left">
                    <th>Food</th>
                    <th>Price</th>
                </tr>
            </thead>
            <tbody>
                <% if !@foods.blank? %>
                <% for food in @foods %>
                <tr>
                    <td>

                                        <%= link_to food_path(:id=>food.id) do %>

                                        <%=food.name%>

                                         <% end %>

                    </td>
                    <td>RM <%=
                    food.price
                    %>.00</td>
                </tr>
                <% end %>
                <% else %>
                <p>No food available</p>
                <%end%>
            </tbody>
        </table>
    </div>
</div>
