<div class="flex justify-center content-center ">


<div class="w-2/6 h-80 m-20 bg-blue-300 text-center place-self-center p-2 rounded-lg">
<h2 class="text-3xl text-white">New Order</h2>

<div class="text-left p-10">

<%= render 'form', order: @order, url:food_orders_path%>

<%= button_to 'Back', root_path,class:"px-3 py-2 text-white bg-blue-600 hover:bg-blue-700 block w-full rounded-md sm:text-sm",method: :get %>


</div>




</div>



</div>

