<div class="flex justify-center content-center h-screen bg-blue-300 ">
    <div class="w-2/6 drop-shadow-xl h-80 m-17 mb-22 text-center place-self-center">
        <h1 class="text-5xl text-red"> 404</h1>
        <h2 class="text-3xl text-red">Page Not Found</h2>
        <h3>
            <%= link_to "Return to home page",root_path,class:"text-blue-500" %>
        </h3>
    </div>
</div>
