<p id="notice"><%= notice %></p>

<%= link_to 'Edit', edit_shipping_address_path(@shipping_address)%>|

<%
byebug
%>

<%= link_to 'Back', new_food_shipping_address_path(:food_id=>params[:food_id]) %>
