/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* 
 .nav{
    background: rgb(82,49,156);
    background: linear-gradient(90deg, rgba(82,49,156,0.9682247899159664) 17%, rgba(129,104,249,0.9458158263305322) 90%);
 } */



 /* #wrapper { 
   display: flex;
   } 
li{ 
   width: 100px; 
   height: 30px; 
   list-style: none; 
   background-color: rgb(1, 4, 49); 
   border-radius: 10px; 
   margin: 5px; 
   padding: 5px; 
   color: white; 
   display: flex; 
   justify-content: center; 
   align-items: center; 
} 
#badge {
    width: 20px; 
    height: 20px; 
    background-color: #f0ad4e; 
    color: white; 
    padding: 2px 2px; 
    border-radius: 5px; 
    margin-left: 10px; 
    text-align: center; 
    float: right; 
    } 


*/

/* :root {
   --primaryColor: #fff;
   --navColor1: #21292c;
   --navColor2: #aa3e39;
   --navColor3: #aa6e39;
   --navColor4: #236267;
   --navColor5: #2c8437;
 } */

/* #overlay,#menu-bars{
   display: none;
} */


/* --- Navigation Menu ------------------------------ */

.overlay{
   position: fixed;
   z-index: 9;
   top:0;
   left:0;
   width: 0;
   height: 100vh;
   width: 100vw;
   background-color: rgba(7, 7, 7, 0.808);
   transform: translate(-100vw);
   /* background: rgb(114,49,156); */
/* background: linear-gradient(90deg, rgba(114,49,156,0.9682247899159664) 17%, rgba(104,106,249,0.7217261904761905) 90%); */
 
 }
 
 .overlay-slide-right{
   transition: all 0.3s ease-in-out;
   transform: translate(0);
 
 }
 
 .overlay-slide-left{
   transition: all 1s ease-in-out;
   transform: translate(-100vw);
 
 }

 /* --- Menu Bars ------------------------------------ */

.menu-bars {
   position: fixed;
   top: 1rem;
   right: 2rem;
   z-index: 10;
   display: inline;
   cursor: pointer;
 }
 .bar1,
 .bar2,
 .bar3 {
   width: 35px;
   height: 2px;
   background-color: #fff;
   margin: 8px 0;
   transition: 0.4s;
 }

 /* Rotate first bar */
.change .bar1 {
   transform: rotate(-45deg) translate(-7px, 8px);
 }
 
 /* Fade out the second bar */
 .change .bar2 {
   opacity: 0;
 }
 
 /* Rotate last bar */
 .change .bar3 {
   transform: rotate(45deg) translate(-6px, -8px);
 }

 

/* -------- Nav ------------------------------------- */

/* nav,
nav ul{

height: 100vh;
margin:0;
padding:0;
} */

/* 
nav ul{
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  list-style: none;
  
} */

/* nav ul li{
  height: 20%;
  overflow: hidden;
}

nav li a{
  position: relative;
  top:45%;
  color:#fff;
  text-transform: uppercase;
  letter-spacing: 4px;
  text-decoration: none;
  display: block;
  text-align: center;
}

nav li a:hover{
  transform: scale(1.5);

} */
/* 
nav li a:before{
  content: "";
  width:25vw;
  height: 3px;
  background-color: #fff;
  position: absolute;
  top:47%;
  left:0;
  opacity: 0;
}  */

/* nav li a:hover:before{
  opacity: 1;
}

nav li:nth-of-type(1) { 
  background-color: var(--navColor1);
  
}

nav li:nth-of-type(2) { 
  background-color: var(--navColor2);
  
}

nav li:nth-of-type(3) { 
  background-color: var(--navColor3);
  
}

nav li:nth-of-type(4) { 
  background-color: var(----navColor4);
  
}

nav li:nth-of-type(5) { 
  background-color: var(--navColor5);
  
} */


/* slide animation for nav  */

/* slide in  */
.slide-in-1{
  animation: slide-in 0.4s linear 0.6s both;
}

.slide-in-2{
  animation: slide-in 0.4s linear 0.4s both;
}
.slide-in-3{
  animation: slide-in 0.4s linear 0.3s both;
}
.slide-in-4{
  animation: slide-in 0.4s linear 0.2s both;
}
.slide-in-5{
  animation: slide-in 0.4s linear 0.1s both;
}

@keyframes slide-in{
  from {
    transform: translate(-100%);

  }
  to{
    transform: translate(0);
  }
}

/* slide out  */


/* slide animation for nav  */

.slide-out-1{
  animation: slide-out 0.3s linear 0.8s both;
}

.slide-out-2{
  animation: slide-out 0.3s linear 0.6s both;
}
.slide-out-3{
  animation: slide-out 0.3s linear 0.4s both;
}
.slide-out-4{
  animation: slide-out 0.3s linear 0.2s both;
}
.slide-out-5{
  animation: slide-out 0.3s linear 0.1s both;
}

@keyframes slide-out{
  from {
    transform: translate(0);

  }
  to{
    transform: translate(-100%);
  }
}
/* 
.nav-element{
   color:white!important;
}

.nav-element a{
   
}
 */
