<%# <div class="grid  flex flex-row grid-cols-3 h-full w-full"> %>
<div>
    <% if !@history.blank? %>
    <div>
        <%=render 'history',history:@history%>
        <% else %>
        <p>You have not yet make an order.
            <a href="/" class="flex font-semibold text-indigo-600 text-sm mt-10">
                Make an order now
            </a></p>
        <%end%>
    </div>
</div>
