<div class="grid  flex flex-row grid-cols-3 h-full w-full">
  <div class="md:col-span-2 sm:col-span-3">
    <div>
      <% if !@line_item.blank? %>
      <div>
        <%=render 'line_item',line_item:@line_item%>
        <% else %>
        <p>No food available</p>
        <%end%>
      </div>
    </div>

  </div>


    </div>
<%# <%= link_to 'Edit', edit_line_item_path(@line_item) %>
<%# <%= link_to 'Back', line_items_path %>
<%= link_to 'Home', root_path %>
