<nav class="
          flex flex-wrap
          items-center
          justify-between
          w-full
          py-10
          md:py-4
          px-4
          text-lg
          bg-indigo-500          
          nav
          ">
  <div>
    <a href="/">
      <h2 class="text-white text-xl">
        Foodie
      </h2>
    </a>
  </div>
  <svg xmlns="http://www.w3.org/2000/svg" id="menu-button" class="h-6 w-6 cursor-pointer lg:hidden block text-white" fill="none"
    viewBox="0 0 24 24" stroke="currentColor">
    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
  </svg>
  <div class="hidden w-full lg:flex lg:items-center md:items-center md:w-auto" id="menu">
    <ul class="pt-4 text-base text-gray-700 md:flex md:justify-between md:pt-0">
      <%# <li>
        <a class="md:p-4 py-2 block hover:text-purple-400" href="#">Customers</a>
      </li>
      <li>
        <a class="md:p-4 py-2 block hover:text-purple-400" href="#">Restaurants</a>
      </li>
      <li>  %>
      <%# logout %>
      <%if user_signed_in? %>
      <li>
        <a class="md:p-4 py-2 block hover:text-purple-400 hover:bg-transparent text-white text-sm">Order History</a>
      </li>
      <%= button_to "Logout", destroy_user_session_path,class:"md:p-4 py-2 block bg-transparent hover:text-purple-400 text-white text-sm",  method: :delete  %>
      <%else%>
      <%= button_to "Log In", user_session_path,class:"md:p-4 py-2 block bg-transparent hover:text-purple-400 text-white text-sm" %>
      <%end%>
      </li>
    </ul>
  </div>
</nav>