  
  
  <div class="flex flex-col">
    <div class="text-black flex items-center justify-center lg:w-11/12 sm:w-12/12 ml-10">
    <div class="border rounded overflow-hidden w-full flex">
      <input id="search-input" type="text" class="w-full py-2 p-2" placeholder="Search...">
      <button id="search-button" class="flex items-center justify-center px-4 border-l">
        <svg class="h-4 w-4 text-grey-dark" fill="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
          <path
            d="M16.32 14.9l5.39 5.4a1 1 0 0 1-1.42 1.4l-5.38-5.38a8 8 0 1 1 1.41-1.41zM10 16a6 6 0 1 0 0-12 6 6 0 0 0 0 12z" />
        </svg>
      </button>
    </div>
       
  </div>
    <div id="results" class="flex flex-col absolute mt-10 lg:w-7/12 sm:w-12/12 lg:ml-10 sm:mr-12 sm:ml-11 bg-white pl-2 pr-2 rounded-sm z-20">
      </div>
  
  
  </div>


